.board {
    width: 640px;
    height: 640px;
    display: grid;
    margin: auto;
    border: 1px solid black;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.headerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    gap: 60px;
    margin: auto;
    padding: 10px;

}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.slidercontainer {
    margin: auto;
}


.heading {
    margin: auto;
    size: 40px;
}