#grid {
    max-width: 960px;
    max-height: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slidercontainer {
    margin: auto;
}


.gridCell {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.heading {
    margin: auto;
    size: 40px;
}